$desktop: 1200px;
$laptop: 960px;
$tablet: 768px;
$small-tablet: 480px;

@mixin small-tablet {
  @media (min-width: #{$small-tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: #{$tablet - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
